<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>
    <%= yield_with_default(:title) { "Pibi" } %>
  </title>

  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/shortcut.js"></script>
  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/guest.css"  rel="stylesheet" type="text/css" />

  <% if !flash.empty? %>
    <script type="text/javascript">
      $(function() {
        $("#flashes button").click(function() {
          $(this).parent().next("hr:first").remove();
          $(this).parent().addClass("hidden");
          $(".flash_wrap").addClass("hidden");
        });
      });
    </script>
  <% end %>

  <script type="text/javascript">
    $(function() { $("nav a[href='<%=request.path%>']").addClass("selected"); });
  </script>

  <% yield_content :scripts %>

  <link href="/css/skins/light.css" rel="stylesheet" type="text/css" />
</head>

<body class="<%= @layout.to_s.split('/').last %>">

  <div class="stuff">
    <nav>
      <a href="/users/new">Sign up</a>
      <a id="login" href="/sessions/new">Sign in</a>
    </nav>

    <header>
      <h1><a href="/">Pibi</a></h1>
    </header>

    <div id="content">
      <div id="status">
      </div>

      <% if !flash.empty? %>
        <div id="flashes">
          <% if flash.size > 1 then %>
            <ol>
              <% flash.each_pair do |ctx,msg| %>
                <li class="flash <%= ctx %>"><%= msg %></li>
              <% end %>
            </ol>
          <% else %>
            <% flash.each_pair do |ctx,msg| %>
              <span class="flash <%= ctx %>"><%= msg %></span>
            <% end %>
          <% end %>
          <button>&times;</button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <%= partial :"footer" %>
  </div>

</body>

</html>
