<% content_for :deferred_js do %>
  <script>
    $(function() {
      $("nav li a[id='nav_<%=current_page%>']").addClass("highlighted");
    })
  </script>
<% end %>

<div class="stuff">
  <header>
    <h1><a href="/"><%= AppName %></a></h1>
    <div class="subheader">
      <span class="account_balance">Balance:
        <span class="<%= current_account.balance > 0 ? 'positive' : 'negative' %>"><%= current_account.balance.to_f %></span> <%= current_account.currency %>
      </span>
      <span class="account_name"><%= current_user.name %></span>
      <% yield_content :subheader %>
      <%= partial "layouts/_flashes" %>
    </div>
  </header>

  <nav>
    <div class="left tri"></div>
    <!-- <span>Hi <%= current_user.nickname %></span> -->
    <!-- <h3>Transactions</h3> -->
    <ol>
      <li><a id="nav_transactions" href="/">Transactions</a></li>
      <!-- <li>Monthly reports</li> -->
    <!-- </ol> -->
    <!-- <h3>Actions</h3> -->
    <!-- <ol> -->
      <li><a id="nav_deposits" href="/transactions/deposits/new" title="Create a new deposit transie">Deposit</a></li>
      <li><a id="nav_withdrawals" href="/transactions/withdrawals/new" title="Create a new withdrawal tx">Withdraw</a></li>
      <li><a id="nav_recurrings" href="/transactions/recurrings/new" title="Create a new recurring tx (bills, etc.)">Recurring</a></li>
      <li><a class="listlike" href="/reports">Reports<span>&darr;</span></a>
        <ol>
          <li><a href="/reports/yearly">Yearly reports</a></li>
          <li><a href="/reports/monthly">Monthly reports</a></li>
        </ol>
      </li>
    <!-- </ol> -->
    <!-- <h3>Manage</h3> -->
    <!-- <ol> -->
      <li><a id="nav_manage" class="listlike" href="/manage">Manage<span>&darr;</span></a>
        <ol>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/transactions/recurrings">Bills</a></li>
          <!-- <li><a href="/transactions/recurrings" title="Manage &amp; create recurring transies (bills, etc.)">Bills</a></li> -->
          <li><a href="/settings">Account</a></li>
          <li><a href="/sessions/destroy">Sign out</a></li>
        </ol>
      </li>
    </ol>
    <div class="right tri"></div>
  </nav>

  <div id="content" class="<%= request.path.gsub('/', ' ').strip.sanitize.split('-').first %>">
    <%= yield_content :content %>
  </div>

  <%= partial "shared/_skin_switcher" %>

  <%= partial "footer" %>
</div>
