<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= yield_with_default(:title) { "#{current_user.name} - Pibi" } %></title>

  <link href="/css/common.css" rel="stylesheet" type="text/css" />
  <link href="/css/skins/<%= preferences["pibi"]["skin"] %>.css" rel="stylesheet" type="text/css" />
  <link href="/js/jquery-ui/css/ui-darkness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" type="text/css" />
  <!-- <link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->

  <% yield_content :css %>

  <script type="text/javascript" src="/js/json2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.1.7.1.min.js"></script>
  <script type="text/javascript" src="/js/modernizr.js"></script>
  <script src="/js/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>

  <script>
    pibi_settings = <%= preferences.to_json %>;
    last_error = null; // used for debugging
  </script>

  <% if settings.development? %>
    <script type="text/javascript" src="/js/shortcut.js"></script>
    <script src="/js/dynamism.js"></script>
    <script src="/js/pibi.js"></script>
    <script src="/js/pibi_ui.js"></script>
    <script src="/js/jqModal.js"></script>
  <% else %>
    <script src="/js/ugly/all.js"></script>
  <% end %>

  <%= yield_content :js %>
  <%= yield_content :scripts %>
</head>

<% content_for :content do %> <%= yield %><% end %>

<body class="<%= @layout.to_s.split('/').last %> <%= current_page %> <%= yield_content :layout_classes %>">
  <%= partial "layouts/#{preferences['pibi']['layout']}" %>

  <img class="loader" hidden="hidden" src="/images/ajax-loader-615B4E.gif" />

  <aside class="modal alert" hidden="hidden" id="html5_compatibility_notice">
    <h2>Unsupported Browser</h2>

    <p>The brower you are currently using does not appear to support
      the latest HTML5 standards which are required for PageHub to
      function correctly.
    </p>
    <p>Please update your browser or use a recent version of the
      officially supported browsers: Google Chrome, Safari 5, or Mozilla Firefox.
    </p>
  </aside>

  <%= partial "/shared/_confirmation_dlg" %>
  <%= yield_content :deferred_js %>
</body>

</html>
