<% content_for :css do %>
  <link href="/css/reports.css" rel="stylesheet" type="text/css" />
<% end %>

<% time_segment = @date.strftime('%B - %Y') %>
<% content_for :title do %><%= time_segment %> Report | <%= AppName %><% end %>

<h1 class="framed"><%= @date.strftime('%B') %>
  - <a href="/reports/<%= @date.year %>"><%= @date.year %></a>
  Activity Report
  <span style="float: right;" data-amount>
    <%= @balance %>
    <%= current_account.currency %>
  </span>
</h1>

<p># transies: <%= @transies.count %> (<%= @deposits.count %> deposits, <%= @withdrawals.count %> withdrawals)</p>

<h2 class="framed">Insights</h2>

<section class="chart stats">
  <h3>Stats</h3>
  <% nr_days = Timetastic.days_in_month(@date.year, @date.month) %>
  <ol>
    <li>
      Throughout the month you have:
      <ol>
        <li>
          <span>Spent: </span>
          <b class="bigger">
            <%= @spendings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@spendings / nr_days).to_f.round(0).abs %>
            <%= current_account.currency %>
            per day
          </em>
        </li>

        <li>
          <span>Earned: </span>
          <b class="bigger">
            <%= @earnings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@earnings / nr_days).to_f.round(0).abs %>
            <%= current_account.currency %>
            per day
          </em>
        </li>

        <li>
          <span>Saved: </span>
          <b class="bigger">
            <%= @savings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@savings / nr_days).to_f.round(0).abs %>
            <%= current_account.currency %>
            per day
          </em>
        </li>
      </ol>
    </li>

      <li>
        <span>Transactions were done using: </span>
        <ol id="pm_ratio">
          <li data-dyn-entity="pm_ratio">
            <span class="big" style="color: #{{color}};">{{name}} &rarr; {{ratio}}%</span>
            of the time ({{count}} times)
          </li>
        </ol>
      </li>

    <li id="tsc">You spent money most on <img class="loader" src="/images/loaders/oscilloscope.gif" /> <span></span></li>
    <li id="tec">While you earned money most from <img class="loader" src="/images/loaders/oscilloscope.gif" /> <span></span></li>

  </ol>

  <span class="small hidden hint">This section has been hidden, click the header to display it again.</span>
</section>

<% content_for :deferred_js do %>
  <script type="text/javascript">
    $(function() {
      ui.account_currency = "<%= current_account.currency %>";
      var date_range = {
        begin: "<%= to_jQueryUI_date(@this_month) %>)",
        end:   "<%= to_jQueryUI_date(@next_month) %>)",
        round: true
      }
      var ajax_tgt = null;
      $(document).ajaxComplete(function() {
        if (ajax_tgt) {
          ajax_tgt.find("img.loader").hide();
        }
      })
      $.ajax({
        url: "/users/<%= current_user.id %>/stats/payment_methods/ratio.json",
        data: date_range,
        success: function(stats) {
          dynamism.inject(stats, $("#pm_ratio"));
        }
      });

      $.ajax({
        url: "/users/<%= current_user.id %>/stats/categories/top_spending.json",
        data: date_range,
        success: function(stats) {
          ajax_tgt = $("#tsc");
          $("#tsc span").html(pibi.natural_join(stats, ', ', ', and ', [ '<span class="big">', '</span>' ]));
        }
      });

      $.ajax({
        url: "/users/<%= current_user.id %>/stats/categories/top_earning.json",
        data: date_range,
        success: function(stats) {
          ajax_tgt = $("#tec");
          $("#tec span").html(pibi.natural_join(stats, ', ', ', and ', [ '<span class="big">', '</span>' ]));
        }
      });
    });
  </script>
<% end %>


<%= partial "/transactions/drilldowns/_navigation",
  locals: {
    period: :month,
    uri_generator: lambda { |d| "/reports/#{d.year}/#{d.month}" },
    labeller: lambda { |d| d.strftime("%B, %Y") },
    jump_target: "/reports",
    jump_by_days: false
  }
%>
