<% content_for :css do %>
  <link href="/css/reports.css" rel="stylesheet" type="text/css" />
<% end %>
<% content_for :title do %><%= @year %> Report | <%= AppName %><% end %>


<h1 class="framed"><%= @year %> activity report
  <span style="float: right;" data-amount>
    <%= @balance %>
    <%= current_account.currency %>
  </span>
</h1>

<h2 class="framed">Drilldown</h2>

<p>You can "drill down" into any month of the year to view its report by clicking its block above.</p>
<ol class="segments yearly">
  <% @segments.each_pair do |month, s| %>
    <li class="segment">
      <span><%= Time.new(@year, month).strftime("%B") %></span>
      <span data-amount><%= s[:balance].to_i %></span>
    </li>
  <% end %>
</ol>



<h2 class="framed">Insights</h2>

<section class="chart stats">
  <h3>Stats</h3>

  <ol>
    <li>
      On a monthly average throughout <%= @year %>, you have:
      <ol>
        <li>
          <span>Spent: </span>
          <b class="bigger">
            <%= @spendings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@spendings / 12).to_f.round(0).abs %>
            <%= current_account.currency %>
            per month
          </em>
        </li>

        <li>
          <span>Earned: </span>
          <b class="bigger">
            <%= @earnings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@earnings / 12).to_f.round(0).abs %>
            <%= current_account.currency %>
            per month
          </em>
        </li>

        <li>
          <span>Saved: </span>
          <b class="bigger">
            <%= @savings.round(0).abs %>
            <%= current_account.currency %>
          </b>
          <em class="big">
          -
            <%= (@savings / 12).to_f.round(0).abs %>
            <%= current_account.currency %>
            per month
          </em>
        </li>
      </ol>
    </li>

    <% if @stats[:pm].any? %>
      <li>
        <span>Transactions were done using: </span>
        <ol>
          <% @stats[:pm].each do |s| %>
            <li><span class="big"><%= colored_pm(s[:pm]) %> &rarr; <%= s[:ratio].to_i %>%</span> of the time (<%= s[:count] %> times)</li>
          <% end %>
        </ol>
      </li>
    <% end %>

    <% if @stats[:categories][:top_spending].any? %>
      <li>You spent money most on <%= format_top_categories(@stats[:categories][:top_spending]) %>.</li>
    <% end %>

    <% if @stats[:categories][:top_earning].any? %>
      <li>While you earned money most from <%= format_top_categories(@stats[:categories][:top_earning]) %>.</li>
    <% end %>
  </ol>

  <span class="small hidden hint">This section has been hidden, click the header to display it again.</span>
</section>

<section class="chart">
  <h3>Balance</h3>

  <p>This chart gives you an insight into your spending and saving patterns
  across the seasons.</p>

  <div id="chart_balance"></div>

  <p class="small hidden hint">This chart has been hidden, click the header to display it again.</p>
</section>

<section class="chart">
  <h3>Savings</h3>

  <p>This chart represents the <i>ratio</i> of money saved each month which appears in <span class="green">green</span>.
    The total amount spent
    is shown in <span class="red">red</span>.
  </p>

  <div id="chart_savings"></div>
  <p class="small hidden hint">This chart has been hidden, click the header to display it again.</p>
</section>

<section class="chart">
  <h3>Spendings by Category</h3>

  <p>This shows how much money was spent on each category.</p>

  <div id="chart_category_spendings"></div>
  <p class="small hidden hint">This chart has been hidden, click the header to display it again.</p>
</section>


<% content_for :deferred_js do %>
  <script type="text/javascript" src="/js/highcharts/js/highcharts.js"></script>
  <script type="text/javascript">
    $(function() {
      ui.account_currency = "<%= current_account.currency %>";

      var series = [{ name: 'Balance', data: [] }];
      <% @segments.each_pair do |month, s| %>
        series[0].data.push({
          y: <%= s[:balance].to_f %>
        });
      <% end %>

      ui.charts.yearly.plot_balance(series, 'chart_balance');
      ui.charts.yearly.plot_savings(<%= @drilled[:savings].to_json %>, <%= @drilled[:spendings].to_json %>, 'chart_savings');

      <% if @stats[:categories][:top_spending].any? %>
        var series = [{ name: 'Spendings', data: [] }];
        var names  = [];

        <% @stats[:categories][:top_spending].each do |c| %>
          <% spendings = c.yearly_spendings(Time.new(@year, 1,1)).to_f.abs.round(0) %>
          names.push("<%= c.name %>");
          series[0].data.push({ y: <%= spendings %> });
        <% end %>

        ui.charts.yearly.plot_category_spendings(series, names, 'chart_category_spendings');
      <% end %>
    });
  </script>
<% end %>