<% content_for :title do %> Account Settings | <%= current_user.name %> | <%= AppName %> <% end %>

<% content_for :js do %>
<script>
</script>
<% end %>


<!-- <hr /> -->

<!-- <h1>Account</h1> -->
<form action="/settings/profile" method="POST">
  <fieldset>
    <legend>General</legend>
    <ol>
      <li><label>Full name</label></li>
      <li><input type="text" name="name" class="fat" value="<%= current_user.name %>" /></li>
      <li><label>Email address</label><br />
        <span class="hint">Your primary email address where we can reach you: <em>(not visible to people)</em></span>

      </li>
      <li>
        <input type="text" name="email" class="very_fat" value="<%= current_user.email %>" />
        <% if current_user.email_verified? %>
          <span class="good">Verified</span>
        <% else %>
          <% if current_user.awaiting_email_verification? %>
            <span>Verification pending. <a href="/settings/verify/email">Send again</a>.
          <% else %>
            <a href="/settings/verify/email" class="inline button thin bad">Verify</a>
          <% end %>
        <% end %>
        <br />
      </li>

    <li><label>Gravatar email</label><br />
      <span class="hint">Change your avatar at <a href="http://www.gravatar.com">gravatar.com</a></span>
    </li>
    <li><input type="text" name="gravatar_email" class="fat" value="<%= current_user.gravatar_email || current_user.email %>" />
      <br />
      <br />
      <%= gravatar_tag current_user, :default, html: { style: "vertical-align: middle;" } %>
    </li>
    <li>Default currency<br />
      <span class="hint">The currency that will be selected by default everytime you
        launch a transie form.
      </span></li>
    <li>
      <select name="currency">
        <% Currencies.each do |c| %>
          <option value="<%= c %>" <%= 'selected="selected"' if current_account.currency == c %>><%= c %></option>
        <% end %>
      </select>
    </li>
    <li>Payment methods<br />
      <span class="hint">When creating a transie, you can specify how you
      paid or received it by choosing one of the methods you define here.</span>
    </li>
    <li>
      <!-- <form method="POST" action="/settings/payment_methods"> -->
        <input type="text" placeholder="Credit Card" />
        <input type="submit" value="Add" class="inline" />
      <!-- </form> -->
      <br />
      <br />
    </li>
    <li>Default payment method<br />
      <span class="hint">The payment method that will be selected by default everytime you
        launch a transie form.
      </span>
    </li>
    <li>
      <% @user.payment_methods.each do |pm| %>
        <label><input type="radio" name="payment_method" value="<%= pm.id %>" <%= 'checked="checked"' if @user.payment_method.id == pm.id %> /><%= pm.name %></label>
      <% end %>
    </li>
  </ol>
  </fieldset>
  <input type="submit" value="Update Profile" />
</form>

<br />
<!-- <hr /> -->

<form method="POST" action="/settings/password">
  <fieldset>
    <legend>Password</legend>

    <ol>
      <li><label>Your current password:</label></li>
      <li>
        <input type="password" class="fat" name="password[current]" />
      </li>
      <li><label>New password</label><br />
        <span class="hint">Type it twice to confirm it</span>
      </li>
      <li>
        <label>#1 &rarr; <input type="password" class="fat" name="password[new]" style="margin-bottom: 5px;" /></label>
        <br />
        <label>#2 &rarr; <input type="password" class="fat" name="password[confirmation]" /></label>
      </li>
    </ol>
  </fieldset>

  <input type="submit" value="Update password" />
</form>