<% content_for :title do %> Account Settings | <%= current_user.name %> | <%= AppName %> <% end %>

<%= partial "/users/settings/_nav" %>

<!-- <h1>Account</h1> -->
<form action="/settings/profile" method="POST">
  <fieldset>
    <legend>General</legend>
    <ol>
      <li><label>Full name</label></li>
      <li><input type="text" name="name" class="fat" value="<%= current_user.name %>" /></li>
      <li><label>Email address</label><br />
        <span class="hint">Your primary email address where we can reach you: <em>(not visible to people)</em></span>

      </li>
      <li>
        <input type="text" name="email" class="very_fat" value="<%= current_user.email %>" />
        <% if current_user.email_verified? %>
          <span class="good">Verified</span>
        <% else %>
          <% if current_user.awaiting_email_verification? %>
            <span>Verification pending. <a href="/settings/verify/email?redispatch=true">Send again</a>.
          <% else %>
            <a href="/settings/verify/email" class="inline button thin bad">Verify</a>
          <% end %>
        <% end %>
        <br />
      </li>

      <li><label>Gravatar email</label><br />
        <span class="hint">Change your avatar at <a href="http://www.gravatar.com">gravatar.com</a></span>
      </li>
      <li><input type="text" name="gravatar_email" class="fat" value="<%= current_user.gravatar_email || current_user.email %>" />
        <br />
        <br />
        <%= gravatar_tag current_user, :default, html: { style: "vertical-align: middle;" } %>
      </li>

    </ol>
  </fieldset>
  <input type="submit" value="Update Account" />
</form>

<br />
<!-- <hr /> -->