<h1><%= @date.strftime("%Y") %>

  <span style="float: right;" class="<%= @balance > 0 ? 'positive' : 'negative' %>">
    <%= @balance.to_f.round(2) %>
    <%= current_account.currency %>
  </span>
</h1>

<% if @transies.empty? %>
  <p>No transactions have been committed during this year.</p>
<% end %>

<%= partial "/transactions/drilldowns/_feed", locals: {
  transies: @drilled_transies,
  heading: lambda { |d|
    html = ''
    html << '<h4 class="timeframe">'
    html << "<a href=\"/transactions/#{d.year}/#{d.month}\">"
    html << d.strftime("%B")
    html << "</a></h4>"
    html
  }
}
%>

<%= partial "/transactions/drilldowns/_navigation",
  locals: {
    period: :year,
    uri_generator: lambda { |d| "/transactions/#{d.year}" },
    labeller: lambda { |d| d.strftime("%Y") },
    jump_by_months: false,
    jump_by_days: false
  }
%>
