<p>Hi,</p>

<p>
  Your <a href="<%= AppURL %>"><%= AppName %></a>&trade; account registered to this
  email address has a temporary password generated automatically by our servers.
</p>

<p>It is highly recommended that you change this password immediately. Your temporary
  password is:</p>

<p><code><%= @n.data %></code></p>

<p>You can change your password by logging in to <a href="<%= AppURL %>"><%= AppName %></a>&trade;
  and going to the Account section under the Manage menu button, or by visiting <a href="<%= "#{__host}#{@n.url}" %>">this</a> link.
</p>

<p>If you are not "<%= current_user.name %>" or didn't sign up for this account, you can safely ignore this email.</p>