<h2 data-confirmable="categories"><%= @c.name %> <span class="actions"><%= actions_for @c %></span></h2>
<p><%= @c.transactions.count %> transaction(s) have been categorized under <%= @c.name %>.</p>
<% transies = {} %>
<% @c.transactions.all({ order: [ :occured_on.desc ] }).each do |t| %>
  <% transies[t.occured_on.to_time.strftime("%Y%m%d")] ||= [] %>
  <% transies[t.occured_on.to_time.strftime("%Y%m%d")] <<  t  %>
<% end %>


<%= partial "/transactions/drilldowns/_feed", locals: {
  transies: transies,
  heading: lambda { |d|
    html = '<h4 class="timeframe">'
    html << "<a href=\"/transactions/#{d.year}/#{d.month}\">"
    html << d.strftime("%-m") << '</a>/'
    html << "<a href=\"/transactions/#{d.year}/#{d.month}/#{d.day}\">"
    html << d.strftime("%-d") << '</a>/'
    html << "<a href=\"/transactions/#{d.year}\">"
    html << d.strftime("%Y") << '</a>'
    html << '</h4>'
    html
  }
}
%>

<div class="navigation">
  <a class="inline prev navigator button" href="/categories">Back</a>
</div>

<div class="hidden" id="categories_delete_confirmation">
  <h1>Category removal</h1>
  <p>Removing this category will cause all <%= @c.transactions.count %> transactions
    that were flagged with it to lose that status.
    <br /><br /> Are you
    sure you want to do this?
  </p>
</div>