<form action="<%= request.path.gsub(/(\/\w+)$/, '') %>" method="POST">
  <label>Amount: <input type="text" name="amount" /></label>
  <label>Currency:
    <select name="currency">
      <% Currencies.each do |c| %>
        <option value="<%= c %>"><%= c %></option>
      <% end %>
    </select>
  </label>
  <br />
  <label>
    Note: <br />
    <textarea name="note" rows="3" cols="40" placeholder="An optional note to remind you of this transaction"></textarea>
  </label>

  <br />

  <h3>Categories</h3>
  <% if @user.categories.empty? %>
    <p>You do not have any categories set up yet. You can use
      <a href="/categories">this page</a> to manage your categories.
    </p>
  <% end %>
  <% @user.categories.each do |c| %>
    <label>
      <input type="checkbox" name="categories[]" value="<%= c.id %>" />
      <%= c.name %>
    </label>
  <% end %>

  <br />
  <br />
  <input type="submit" />
</form>