<% @tx ||= Transaction.new %>
<% editing = @tx.persisted? %>

<% content_for :js do %>
  <script>
    $(function() {
      $("input[name=occured_on]").datepicker({
            showOn: "both",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: true
        });
    })
  </script>
<% end %>

<h2>
  <% if editing %>
    <%= "Editing #{@tx.type.to_s.downcase} tx" %>
  <% else %>
    <%= "Creating a new #{@tx.type.to_s.downcase} tx" %>
  <% end %>
</h2>

<form action="<%= request.path.gsub(/(\/\w+)$/, '') %>" method="POST">
  <fieldset>
    <legend>Amount</legend>
    <input type="text" name="amount" placeholder="5.0" value="<%= @tx.persisted? ? @tx.amount.to_f : '' %>" />
    <select name="currency">
      <% Currencies.each do |c| %>
        <option value="<%= c %>" <%= 'selected="selected"' if @tx.currency == c %>><%= c %></option>
      <% end %>
    </select>
  </fieldset>
  <fieldset>
    <legend>Note</legend>
    <textarea name="note" rows="3" cols="120" placeholder="Something to remind you of this transaction"><%= @tx.note %></textarea>
  </fieldset>

  <fieldset>
    <legend>Date of transaction</legend>
    <input type="text" name="occured_on" value="<%= to_jQueryUI_date @tx.occured_on %>" />
  </fieldset>

  <%= partial "/transactions/_category_listing" %>

  <br />
  <input type="submit" value="store transaction" />
</form>