<% @tx ||= Transaction.new %>
<% editing = @tx.persisted? %>

<% content_for :js do %>
  <script>
    $(function() {
      var current_date = $("#tx_occured_on").attr("value");
      $("#datepicker").datepicker({ altField: "#tx_occured_on" });
      $("#datepicker").datepicker("setDate", current_date);
    });
  </script>
<% end %>

<% if false %>
<h2>
  <% if editing %>
    <%= "Editing #{@tx.type.to_s.downcase} tx" %>
  <% else %>
    <%= "Creating a new #{@tx.type.to_s.downcase} tx" %>
  <% end %>
</h2>
<% end %>

<form action="<%= request.path.gsub(/(\/\w+)$/, '') %>" method="POST">
  <fieldset>
    <legend><%= @tx.type %> transie</legend>
    <ol>
      <li><label for="tx_amt">Amount*</label></li>
      <li><input type="text" id="tx_amt" autofocus="autofocus" name="amount" placeholder="5.0" value="<%= @tx.persisted? ? @tx.amount.to_f : '' %>" />
        <select name="currency">
          <% Currencies.each do |c| %>
            <option value="<%= c %>" <%= 'selected="selected"' if @tx.currency == c %>><%= c %></option>
          <% end %>
        </select>
      </li>
      <li>Note*</li>
      <li><textarea name="note" rows="3" cols="80" placeholder="Something to remind you of this transaction"><%= @tx.note %></textarea></li>

      <li>Paid with<br />
        <span class="hint">You can manage your payment methods in your
          <a href="/settings/preferences" target="_blank">preferences</a>
          section.
        </span>
      </li>
      <li>
        <% @user.payment_methods.each do |pm| %>
          <label style="color: #<%= pm.color %>;">
            <input type="radio" name="payment_method" value="<%= pm.id %>" <%= 'checked="checked"' if @tx && @tx.payment_method == pm%> />
            <%= pm.name %>
          </label>
        <% end %>
      </li>

      <li>Date of transaction</li>
      <li><input type="text" id="tx_occured_on" name="occured_on" value="<%= to_jQueryUI_date @tx.occured_on %>" /> <span class="hint">(Format: MM/DD/YYYY)</span><div id="datepicker"></div></li>
      <%= partial "/transactions/_category_listing" %>
    </ol>

  </fieldset>

  <input type="submit" value="store transaction" />
</form>