<% @t ||= Transaction.new %>
<% editing = @t.persisted? %>

<% content_for :js do %>
  <script>
    $(function() {
      $("input[name=occured_on]").datepicker({
            showOn: "both",
            buttonImage: "images/calendar.gif",
            buttonImageOnly: true
        });
    })
  </script>
<% end %>

<h2>
  <% if editing %>
    <%= "Editing #{@t.type.to_s.downcase} tx" %>
  <% else %>
    <%= "Creating a new #{@t.type.to_s.downcase} tx" %>
  <% end %>
</h2>

<form action="<%= request.path.gsub(/(\/\w+)$/, '') %>" method="POST">
  <label>Amount: <input type="text" name="amount" /></label>
  <label>Currency:
    <select name="currency">
      <% Currencies.each do |c| %>
        <option value="<%= c %>" <%= 'selected="selected"' if @t.currency == c %>><%= c %></option>
      <% end %>
    </select>
  </label>
  <br />
  <label>
    Note: <br />
    <textarea name="note" rows="3" cols="40" placeholder="An optional note to remind you of this transaction"></textarea>
  </label>

  <br />

  <label>Date of transaction: <br />
    <input type="text" name="occured_on" />
  </label>

  <br />

  <%= partial "/transactions/_category_listing" %>

  <br />
  <br />
  <input type="submit" />
</form>